/* 
    Document   : viewer
    Created on : Sep 6, 2012, 6:56:01 PM
    Author     : kai
    Description:
        Purpose of the stylesheet follows.
*/


.zoomfull{
    background-image:url('../images/icon_zoomfull.png');
    height:20px;
    width:20px;
}

.zoomlayer{
    background-image:url('../images/icon_zoomlayer.png');
    height:20px;
    width:20px;
}
.zoomin{
    background-image:url('../images/icon_zoomin.png');
    height:20px;
    width:20px;
}

.zoomout{
    background-image:url('../images/icon_zoomout.png');
    height:20px;
    width:20px;
}

.pan{
    background-image:url('../images/icon_pan.png');
    height:20px;
    width:20px;
}

.resultset_previous{
    background-image:url('../images/resultset_previous.png');
    height:20px;
    width:20px;
}

.resultset_next{
    background-image:url('../images/resultset_next.png');
    height:20px;
    width:20px;
}

.projchooser{
    width:'auto';
    min-width: 170px;
}

.addLayer{
    background-image:url('../images/add_layer.png');
    height:20px;
    width:20px;
}

.deleteLayer{
    background-image:url('../images/delete_layer.png');
    height:20px;
    width:20px;
}

.layerOpacity{
    background-image:url('../images/opacity.png');
    height:20px;
    width:20px;
}

.wmsInfo{
    background-image:url('../images/wmsinfo.png');
    height:20px;
    width:20px;
}

.wmsTime{
    background-image:url('../images/wmstime.gif');
    height:20px;
    width:20px;
}

.layerStyles{
    background-image:url('../images/layerstyles.png');
    height:20px;
    width:20px;
}

.savewmc{
    background-image:url('../images/icon_savewmc.png');
    height:20px;
    width:20px;
}

.loadwmc{
    background-image:url('../images/icon_loadwmc.png');
    height:20px;
    width:20px;
}

.selectfile{
    background-image:url('../images/icon_selectfile.png') !important;
}

.printmap{
    background-image:url('../images/icon_print.png');
    height:20px;
    width:20px;
}

.baselayeropacity{
    background-image:url('../images/baselayeropacity.png');
    height:20px;
    width:20px;
}
.selectfile {
    background:url(../images/icon_selectfile.png)  no-repeat 0 0 !important;
}

.query {
    background:url(../images/icon_featureinfo.png) ;
}

div.map-overlay div.overlay-element {
display:inline;
float:left;
margin:5px;
}

div.map-overlay {
top:10px;
position:absolute;
right:10px;
z-index:1000;
//width: 250px; /* For IE */
}

.table{width:100%;margin-bottom:20px}
.table th,.table td{padding:8px;line-height:20px;text-align:left;vertical-align:top;border-top:1px solid #dddddd}
.table th{font-weight:bold}
.table thead th{vertical-align:bottom}
.table caption+thead tr:first-child th,.table caption+thead tr:first-child td,.table colgroup+thead tr:first-child th,.table colgroup+thead tr:first-child td,.table thead:first-child tr:first-child th,.table thead:first-child tr:first-child td{border-top:0}
.table tbody+tbody{border-top:2px solid #dddddd}
.table .table{background-color:#eeeeee}
.table-condensed th,.table-condensed td{padding:4px 5px}
.table-bordered{border:1px solid #dddddd;border-collapse:separate;*border-collapse:collapse;border-left:0;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px}
.table-bordered th,.table-bordered td{border-left:1px solid #dddddd}
.table-bordered caption+thead tr:first-child th,.table-bordered caption+tbody tr:first-child th,.table-bordered caption+tbody tr:first-child td,.table-bordered colgroup+thead tr:first-child th,.table-bordered colgroup+tbody tr:first-child th,.table-bordered colgroup+tbody tr:first-child td,.table-bordered thead:first-child tr:first-child th,.table-bordered tbody:first-child tr:first-child th,.table-bordered tbody:first-child tr:first-child td{border-top:0}
.table-bordered thead:first-child tr:first-child>th:first-child,.table-bordered tbody:first-child tr:first-child>td:first-child,.table-bordered tbody:first-child tr:first-child>th:first-child{-webkit-border-top-left-radius:4px;-moz-border-radius-topleft:4px;border-top-left-radius:4px}
.table-bordered thead:first-child tr:first-child>th:last-child,.table-bordered tbody:first-child tr:first-child>td:last-child,.table-bordered tbody:first-child tr:first-child>th:last-child{-webkit-border-top-right-radius:4px;-moz-border-radius-topright:4px;border-top-right-radius:4px}
.table-bordered thead:last-child tr:last-child>th:first-child,.table-bordered tbody:last-child tr:last-child>td:first-child,.table-bordered tbody:last-child tr:last-child>th:first-child,.table-bordered tfoot:last-child tr:last-child>td:first-child,.table-bordered tfoot:last-child tr:last-child>th:first-child{-webkit-border-bottom-left-radius:4px;-moz-border-radius-bottomleft:4px;border-bottom-left-radius:4px}
.table-bordered thead:last-child tr:last-child>th:last-child,.table-bordered tbody:last-child tr:last-child>td:last-child,.table-bordered tbody:last-child tr:last-child>th:last-child,.table-bordered tfoot:last-child tr:last-child>td:last-child,.table-bordered tfoot:last-child tr:last-child>th:last-child{-webkit-border-bottom-right-radius:4px;-moz-border-radius-bottomright:4px;border-bottom-right-radius:4px}
.table-bordered tfoot+tbody:last-child tr:last-child td:first-child{-webkit-border-bottom-left-radius:0;-moz-border-radius-bottomleft:0;border-bottom-left-radius:0}
.table-bordered tfoot+tbody:last-child tr:last-child td:last-child{-webkit-border-bottom-right-radius:0;-moz-border-radius-bottomright:0;border-bottom-right-radius:0}
.table-bordered caption+thead tr:first-child th:first-child,.table-bordered caption+tbody tr:first-child td:first-child,.table-bordered colgroup+thead tr:first-child th:first-child,.table-bordered colgroup+tbody tr:first-child td:first-child{-webkit-border-top-left-radius:4px;-moz-border-radius-topleft:4px;border-top-left-radius:4px}
.table-bordered caption+thead tr:first-child th:last-child,.table-bordered caption+tbody tr:first-child td:last-child,.table-bordered colgroup+thead tr:first-child th:last-child,.table-bordered colgroup+tbody tr:first-child td:last-child{-webkit-border-top-right-radius:4px;-moz-border-radius-topright:4px;border-top-right-radius:4px}
.table-striped tbody>tr:nth-child(odd)>td,.table-striped tbody>tr:nth-child(odd)>th{background-color:#f9f9f9}
.table-hover tbody tr:hover>td,.table-hover tbody tr:hover>th{background-color:#f5f5f5}
table td[class*="span"],table th[class*="span"],.row-fluid table td[class*="span"],.row-fluid table th[class*="span"]{display:table-cell;float:none;margin-left:0}
.
    .x-window-white {
        background-color: #FFFFFF !important;
    }
    .x-window-white .x-window-body {
        background-color: #FFFFFF !important;
    }