<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
          http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
    version="3.0">
	<display-name>viewer</display-name>
	<servlet>
		<description>
		</description>
		<display-name>WmcServlet</display-name>
		<servlet-name>WmcServlet</servlet-name>
		<servlet-class>viewer.WmcServlet</servlet-class>
	</servlet>
		<servlet-mapping>
		<servlet-name>WmcServlet</servlet-name>
		<url-pattern>/wmc/*</url-pattern>
	</servlet-mapping>
	<listener>
    <listener-class>viewer.WebAppPropertiesListener</listener-class>
</listener>
	<!-- 
	<servlet>
		<description>
		</description>
		<display-name>LoadWmc</display-name>
		<servlet-name>LoadWmc</servlet-name>
		<servlet-class>Viewer.LoadWmc</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>GetRemoteService</display-name>
		<servlet-name>GetRemoteService</servlet-name>
		<servlet-class>Viewer.GetRemoteService</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Kmztokml</display-name>
		<servlet-name>Kmztokml</servlet-name>
		<servlet-class>Viewer.Kmztokml</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>LoadWmc</servlet-name>
		<url-pattern>/LoadWmc</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetRemoteService</servlet-name>
		<url-pattern>/GetRemoteService</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Kmztokml</servlet-name>
		<url-pattern>/Kmztokml</url-pattern>
	</servlet-mapping> -->
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
    <servlet-name>CXFServlet</servlet-name>
    <servlet-class>org.apache.cxf.transport.servlet.CXFServlet</servlet-class>
    <init-param>
      <param-name>config-location</param-name>
      <param-value>/WEB-INF/beans.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>CXFServlet</servlet-name>
    <url-pattern>/rest/*</url-pattern>
  </servlet-mapping>
</web-app>
