<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>viewer</display-name>
	<servlet>
		<description>
		</description>
		<display-name>WmcCreateServlet</display-name>
		<servlet-name>WmcCreateServlet</servlet-name>
		<servlet-class>Viewer.WmcCreateServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>LoadWmc</display-name>
		<servlet-name>LoadWmc</servlet-name>
		<servlet-class>Viewer.LoadWmc</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>GetRemoteService</display-name>
		<servlet-name>GetRemoteService</servlet-name>
		<servlet-class>Viewer.GetRemoteService</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Kmztokml</display-name>
		<servlet-name>Kmztokml</servlet-name>
		<servlet-class>Viewer.Kmztokml</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>WmcCreateServlet</servlet-name>
		<url-pattern>/WmcCreateServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LoadWmc</servlet-name>
		<url-pattern>/LoadWmc</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetRemoteService</servlet-name>
		<url-pattern>/GetRemoteService</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Kmztokml</servlet-name>
		<url-pattern>/Kmztokml</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
